<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkqhZWHwFfVcEQNydpZ5tZjndQh5pIjU4</string>
	<key>GCM_SENDER_ID</key>
	<string>658508124825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scheppat.QuoteNest</string>
	<key>PROJECT_ID</key>
	<string>quotenest-3c907</string>
	<key>STORAGE_BUCKET</key>
	<string>quotenest-3c907.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658508124825:ios:cbaad5960de522bc1c9e08</string>
</dict>
</plist>